nav {
  background-color: #130a00;
}

.jumbotron {
  padding-top: 2rem;
  background-color: #130000;
  color: white;
}

#about {
  background-color: #130009;
  color: white;
}

#projects {
  background-color: #130013;
  color: white;
}

.card {
  background-color: #130000;
}

#contact {
  background-color: #130000;
  color: white;
}

footer {
  background-color: #130a00;
}

.social {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-item {
  margin: 0 0.5em;
}

.social-link {
  padding: 0.5em;
}
